aside {
    background: #fff; 
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #000;
    margin-bottom: 2em;
    text-align: center;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  height: 50px;
width: 50%;
margin-top: 10px;
margin-left: 25%;
font-size: 20px;
border: 2px gray solid;
}
.button-success::hover{
background-color: #a29cd9;
}
input{
min-width: 1.75in;
}
#name, #email {
  width: 50%;
}

.con-title{
font-size: 54px;
text-align: center;
color: #081859;
}
.con-form{
width: 50%;
margin: auto;
font-size: 20px;
font-family: "Lato", Arial, sans-sarif;
}
.large-input{
height: 1.5in;
width: 100%;
font-size: 20px;
border: 2px gray solid;
}
.con-input{
width: 48%;
border: 2px gray solid;
color: #adadad;
font-size: 18px;
}
.last-name{
float: right;
}
.email{
width: 100%;
border: 2px gray solid;
color: #adadad;
}
@media screen and (max-width: 1025px) {
  .con-form{
	width: 80%;
}
	
