aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}

.con-form{
width: 50%;
margin: auto;
font-size: 20px;
font-family: "Lato", Arial, sans-sarif;
}
.large-input{
height: 1.5in;
width: 100%;
font-size: 20px;
border: 2px gray solid;
}
.con-input{
width: 48%;
border: 2px gray solid;
color: #adadad;
font-size: 18px;
}
.last-name{
float: right;
}
#con-sub{
height: 50px;
width: 50%;
margin-top: 10px;
margin-left: 25%;
font-size: 20px;
border: 2px gray solid;
}
#con-sub:hover{
background-color: #a29cd9;
}
.email{
width: 100%;
border: 2px gray solid;
color: #adadad;
}
@media screen and (max-width: 1025px) {
  .vol-form{
	width: 80%;
}
