@font-face{
font-family: Lato;
src: url(https://fonts.googleapis.com/css?family=Lato&display=swap);
       }
body{
    margin: 0;
    padding: 0;
}

/*Beginning of Volunteer Form*/
#vol-title{
font-size: 50px;
background-color: #ea5c5c;
font-family: 'Roboto', sans-serif;
font-weight: 100;
width: 100%;
padding-bottom: 20px;
padding-top: 20px;
margin: 0;
text-align: center;
color: #fff;
}
h3{
margin-bottom: 5px;
color: #081859;
}
.vol-form{
width: 50%;
margin: auto;
font-size: 20px;
font-family: "Lato", Arial, sans-sarif;
padding-bottom: 0.5in;
}
.vol-input{
border: 2px gray solid;
height: 40px;
margin-top: 5px;
margin-bottom: 5px;
}
.large-input{
height: 1.5in;
width: 100%;
font-size: 20px;
border: 2px gray solid;
}
.grade{
text-align: center;
display: block;
transform: scale(2);
hei
}
.name{
width: 100%;
}
.vol-input{
width: 45%;
border: 2px gray solid;
color: #081859;
}
.last-name{
float: right;
}
#state{
width: 45%;
height: 40px;
margin-right: 0;
margin-top: 5px;
font-size: 20px;
color: gray;
border: 2px gray solid;
float: left;
}
#name{
width: 45%;
margin-top: 5px;
height: 40px;
font-size: 20px;
color: gray;
border: 2px gray solid;
float: left;
}
#vol-sub{
height: 50px;
width: 50%;
margin-top: 10px;
margin-left: 25%;
font-size: 20px;
border: 2px gray solid;
}
#vol-sub:hover{
background-color: #eee0ff;
}
@media screen and (max-width: 1025px) {
  .vol-form{
	width: 80%;
}
.vol-input{
font-size: 18px;
}
#vol-title{
padding-left: 0;
text-align: center;
}
}
   
/*End of Volunteer Form*/
